
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awards List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h1 class="mt-5">Awards List</h1>
<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {% for award in awards %}
            <tr>
                <td>{{ award.id }}</td>
                <td>{{ award.award }}</td>  <!-- This should match the field name in your model -->
            </tr>
        {% empty %}
            <tr>
                <td colspan="2" class="text-center">No Awards available.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>