<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h1 class="mt-5">School List</h1>
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>ID</th>
                <th>school Name</th>
            </tr>
        </thead>
        <tbody>
            {% for school in schools %}
                <tr>
                    <td>{{ school.id }}</td>
                    <td>{{ school.name }}</td>  <!-- This should match the field name in your model -->
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2" class="text-center">No School available.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>