<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subject List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<h1 class="mt-5">Subject List</h1>
<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>ID</th>
            <th>Subject</th>
            <th>Subject_Score</th>
        </tr>
    </thead>
    <tbody>
        {% for subject in subjects %}
            <tr>
                <td>{{ subject.id }}</td>
                <td>{{ subject.subject_name }}</td>
                <td>{{ subject.subject_score }}</td>  <!-- This should match the field name in your model -->
            </tr>
        {% empty %}
            <tr>
                <td colspan="2" class="text-center">No Subjects available.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>